@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

body {
     font-family: 'Rowdies', cursive;
     background: linear-gradient(229deg, #11468f, #041562);
     background-size: 400% 400%;
 
     -webkit-animation: gradient 20s ease infinite;
     animation: gradient 20s ease infinite;
}
#quote-box {
     background: #EEEEEE;
     width: 40rem;
     margin: 10rem auto;
     padding: 3rem;
     border-radius: 10px;
}

#text {
     font-size: 2rem;
}

#author {
     display: flex;
     justify-content: flex-end;
     font-size: 1.5rem;
     margin-top: -2rem;

}

#buttons {
display: flex;
align-items: center;
justify-content: space-between;
}

#tweet-quote {
   background: #11468F;
   cursor: pointer;
   padding: 1rem 1.5rem;
   border-radius: 10px;
   transition-duration: 0.3s;
}
#tweet-quote:hover {
     background-color: #DA1212;
   }

#new-quote {
     background: #11468F;
     border: none;
     color: #EEEEEE;
     padding: 1rem 1.5rem;
     font-size: 1rem;
     font-family: 'Rowdies', cursive;
     border-radius: 10px;
     cursor: pointer;
     transition-duration: 0.3s;
}
#new-quote:hover {
     background-color: #DA1212;
   }